USE [master]
GO
/****** Object:  Database [PK_J_WM]    Script Date: 28.01.2020 09:51:07 ******/
CREATE DATABASE [PK_J_WM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PK_J_WM', FILENAME = N'E:\SQLServer2016\MSSQL14.SQLEXPRESS17\MSSQL\DATA\PK_J_WM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PK_J_WM_log', FILENAME = N'E:\SQLServer2016\MSSQL14.SQLEXPRESS17\MSSQL\DATA\PK_J_WM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PK_J_WM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PK_J_WM]
GO
/****** Object:  Table [dbo].[BILLINGPERIODS]    Script Date: 28.01.2020 09:51:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILLINGPERIODS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FROM] [date] NOT NULL,
	[TO] [date] NOT NULL,
 CONSTRAINT [PK_BILLINGPERIOD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROJECTS]    Script Date: 28.01.2020 09:51:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROJECTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](100) NULL,
 CONSTRAINT [PK_PROJECTS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TASKS]    Script Date: 28.01.2020 09:51:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TASKS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PROJECTID] [int] NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_TASKS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WORKITEMS]    Script Date: 28.01.2020 09:51:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORKITEMS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TASKID] [int] NOT NULL,
	[TYPEID] [int] NOT NULL,
	[DATE] [date] NULL,
	[STARTTIME] [time](7) NULL,
	[ENDTIME] [time](7) NULL,
	[COMMENT] [nvarchar](max) NULL,
 CONSTRAINT [PK_WORKTIMES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WORKTYPES]    Script Date: 28.01.2020 09:51:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORKTYPES](
	[ID] [int] NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[PERHOUR] [decimal](18, 0) NOT NULL,
	[TAX] [float] NOT NULL,
 CONSTRAINT [PK_WORKTYPES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PROJECTS_NAME]    Script Date: 28.01.2020 09:51:09 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_PROJECTS_NAME] ON [dbo].[PROJECTS]
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TASKS]    Script Date: 28.01.2020 09:51:09 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_TASKS] ON [dbo].[TASKS]
(
	[NAME] ASC,
	[PROJECTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TASKS]  WITH CHECK ADD  CONSTRAINT [FK_TASKS_PROJECTS] FOREIGN KEY([PROJECTID])
REFERENCES [dbo].[PROJECTS] ([ID])
GO
ALTER TABLE [dbo].[TASKS] CHECK CONSTRAINT [FK_TASKS_PROJECTS]
GO
ALTER TABLE [dbo].[WORKITEMS]  WITH CHECK ADD  CONSTRAINT [FK_WORKTIMES_TASKS] FOREIGN KEY([TASKID])
REFERENCES [dbo].[TASKS] ([ID])
GO
ALTER TABLE [dbo].[WORKITEMS] CHECK CONSTRAINT [FK_WORKTIMES_TASKS]
GO
ALTER TABLE [dbo].[WORKITEMS]  WITH CHECK ADD  CONSTRAINT [FK_WORKTIMES_WORKTYPES] FOREIGN KEY([TYPEID])
REFERENCES [dbo].[WORKTYPES] ([ID])
GO
ALTER TABLE [dbo].[WORKITEMS] CHECK CONSTRAINT [FK_WORKTIMES_WORKTYPES]
GO
USE [master]
GO
